.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    color: white;
    max-height: 80px; 
    margin-bottom: 40px; 
}

.logo img {
    width: 60px; 
    height: auto; 
}

.user-info {
    margin-left: auto;
    margin-right: 20px; /* Adjust the margin as needed */
    font-size: 18px;
}

.logout-button {
    background-color: #007bff; 
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px; 
    padding: 5px 10px; 
    transition: background-color 0.3s; 
}

.logout-button:focus {
    outline: none;
}

.logout-button:hover {
    background-color: #0056b3; 
    text-decoration: none;
}
